[Unit]
Description=Storage manager service
Requires=xyz.openbmc_project.ObjectMapper.service
After=xyz.openbmc_project.ObjectMapper.service

[Service]
Type=dbus
BusName=com.yadro.Storage
Restart=always
RestartSec=5
ExecStartPre=/usr/bin/yadro-mcu-reflash /usr/share/obmc-yadro-hw/backplanes.json
ExecStart=/usr/bin/yadro-storage-manager

[Install]
WantedBy=multi-user.target
